<div class="mb-3" ng-hide="$ctrl.isComplete">
	<h6>Card</h6>
	<div id="card-element" class="form-control mb-3 pt-2"></div>
	<button
		class="btn btn-primary"
		ng-click="$ctrl.submit()"
		ng-disabled="!$ctrl.isCardEntered"
	>
		<span
			class="spinner-border spinner-border-sm"
			role="status"
			aria-hidden="true"
			ng-if="$ctrl.isInProgress"
		></span>
		Complete Order
	</button>
</div>

<div
	class="alert alert-warning"
	ng-if="$ctrl.isInProgress && !$ctrl.isComplete"
>
	Completing order, please wait and do not refresh the page.
</div>

<div class="alert alert-success" role="alert" ng-if="$ctrl.isComplete">
	<h3>Checkout Complete for Order {{ $ctrl.orderId }}</h3>
	<p>
		{{
			$ctrl.isPending
				? 'Your order is now pending approval.'
				: 'Your order has been submitted!'
		}}
	</p>
	<a class="btn btn-primary" href="/"> Go to Home </a>
</div>
