<nav aria-label="breadcrumb">
	<ol class="breadcrumb mt-3 d-md-none">
		<li
			class="breadcrumb-item active"
			ng-repeat="item in $ctrl.list track by $index"
			ng-if="$last"
		>
			<a ng-href="{{ item.link }}">{{ item.title }}</a>
		</li>
	</ol>
	<ol class="breadcrumb mt-3 d-none d-md-flex">
		<li
			ng-attr-aria-current="{{ $last && 'page' }}"
			ng-class="['breadcrumb-item', { active: $last }]"
			ng-repeat="item in $ctrl.list track by $index"
		>
			<a ng-href="{{ item.link }}">{{ item.title }}</a>
		</li>
	</ol>
</nav>
