<breadcrumb-component breadcrumbs="$ctrl.breadcrumbs"></breadcrumb-component>
<div class="col offset-sm-4 col-sm-4">
	<div ng-show="!reseting">
		<h3 class="text-center mt-0 mb-3">Request Reset Password</h3>
		<div class="w-100 max-w-400 my-0 mx-auto">
			<form class="form-request-reset">
				<div class="mb-3">
					<label
						for="email"
						class="form-label"
						title="Please enter a valid email address."
						>Email Address*</label
					>
					<input
						id="email"
						class="form-control"
						name="email"
						ng-class="{ 'is-invalid': signUpForm.email.$invalid }"
						type="email"
						ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
						ng-model="resetEmail"
						uib-popover="{{
							signUpForm.email.$invalid
								? 'Your email does not match the correct format.'
								: ''
						}}"
						autocomplete="off"
						popover-trigger="'mouseenter'"
						required
					/>
				</div>
				<div style="text-align: center" class="mt-3">
					<button
						ng-if="!requesting"
						class="btn btn-primary mx-auto"
						ng-click="requestReset()"
					>
						Submit
					</button>
				</div>

				<div class="d-flex align-items-center" ng-if="requesting">
					<strong>Submitting, please wait ...</strong>
				</div>
			</form>
		</div>
	</div>
	<div ng-show="reseting">
		<h3 class="text-center mt-0 mb-3">Reset Password</h3>
		<div class="w-100 max-w-400 my-0 mx-auto">
			<form class="form-reset-password">
				<div class="input-group mb-3">
					<label
						for="password"
						class="input-group-text w-50"
						title="Please enter a valid password."
						>Password</label
					>
					<input
						id="password"
						class="form-control"
						type="password"
						name="password"
						ng-class="{ 'is-invalid': password.$invalid }"
						ng-attr-type="{{ showPassword ? 'text' : 'password' }}"
						ng-model="password"
						pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
						popover-trigger="'click mouseenter'"
						autocomplete="off"
						spellcheck="false"
					/>
					<button
						ng-click="ToggleShowPassword()"
						class="btn btn-outline-primary"
						type="button"
					>
						<span
							ng-class="
								showPassword
									? 'dashicons dashicons-visibility'
									: 'dashicons dashicons-hidden'
							"
						></span>
					</button>
				</div>

				<div class="input-group mb-3">
					<span
						for="password-check"
						class="input-group-text w-50"
						title="Please confirm your password."
						>Confirm Password</span
					>
					<input
						id="password-check"
						class="form-control"
						type="password"
						name="passwordCheck"
						ng-class="{
							'is-invalid':
								passwordCheck.$invalid ||
								(selectedAccount.passwordCheck !=
									new_password &&
									passwordCheck.length)
						}"
						ng-attr-type="{{
							showPasswordConfirmation ? 'text' : 'password'
						}}"
						ng-model="password_confirmation"
						popover-trigger="'click mouseenter'"
						pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
						spellcheck="false"
					/>
					<button
						ng-click="ToggleShowPasswordConfirmation()"
						class="btn btn-outline-primary"
						type="button"
					>
						<span
							ng-class="
								showPasswordConfirmation
									? 'dashicons dashicons-visibility'
									: 'dashicons dashicons-hidden'
							"
						></span>
					</button>
				</div>
				<button
					ng-if="!submitting"
					class="btn btn-primary mx-auto"
					ng-click="submitReset()"
				>
					Submit
				</button>

				<div class="d-flex align-items-center" ng-if="submitting">
					<strong>Submitting, please wait...</strong>
				</div>
			</form>
		</div>
	</div>
</div>
