<breadcrumb-control breadcrumbs="$ctrl.breadcrumbs"></breadcrumb-control>
<div class="col offset-sm-4 col-sm-4">
  <div ng-show="!reseting">
    <h3 class="text-center mt-0 mb-3">Request Reset Password</h3>
    <div class="w-100 max-w-400 my-0 mx-auto">
      <form class="form-request-reset">
        <div class="input-group mb-3">
          <span
            class="input-group-text w-50"
            title="Please enter a valid email address."
            >Email Address*</span
          >
          <input
            class="form-control"
            name="email"
            ng-class="{'is-invalid':signUpForm.email.$invalid}"
            type="email"
            ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
            placeholder="example@example.com"
            ng-model="resetEmail"
            uib-popover="{{signUpForm.email.$invalid ? 'Your email does not match the correct format.' : ''}}"
            autocomplete="off"
            popover-trigger="'mouseenter'"
            required
          />
        </div>
        <div style="text-align: center" class="mt-3">
          <button
            ng-if="!requesting"
            class="button button-primary max-w-120 mx-auto"
            ng-click="requestReset()"
          >
            Submit
          </button>
        </div>

        <div class="d-flex align-items-center" ng-if="requesting">
          <strong>Submitting, please wait ...</strong>
          <div
            class="spinner is-active ml-auto"
            role="status"
            aria-hidden="true"
          ></div>
        </div>
      </form>
      <wp-notice-list></wp-notice-list>
    </div>
  </div>
  <div ng-show="reseting">
    <h3 class="text-center mt-0 mb-3">Reset Password</h3>
    <div class="w-100 max-w-400 my-0 mx-auto">
      <form class="form-reset-password">
        <div class="input-group mb-3">
          <span
            class="input-group-text w-50"
            title="Please enter a valid password."
            >Password</span
          >
          <input
            class="form-control"
            type="password"
            value=""
            name="password"
            ng-class="{'is-invalid':password.$invalid}"
            ng-attr-type="{{ showPassword ? 'text':'password'}}"
            ng-model="password"
            pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
            popover-trigger="'click mouseenter'"
            placeholder="'Password123!'"
            autocomplete="off"
          />
          <button ng-click="ToggleShowPassword()" class="button" type="button">
            <span
              ng-class="showPassword ? 'dashicons dashicons-visibility' : 'dashicons dashicons-hidden'"
            ></span>
          </button>
        </div>

        <div class="input-group mb-3">
          <span
            class="input-group-text w-50"
            title="Please confirm your password."
            >Confirm Password</span
          >
          <input
            class="form-control"
            type="password"
            name="passwordCheck"
            ng-class="{'is-invalid':passwordCheck.$invalid || (selectedAccount.passwordCheck != new_password && passwordCheck.length)}"
            ng-attr-type="{{ showPasswordConfirmation ? 'text':'password'}}"
            ng-model="password_confirmation"
            popover-trigger="'click mouseenter'"
            pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
            placeholder="'Password123!'"
          />
          <button
            ng-click="ToggleShowPasswordConfirmation()"
            class="button"
            type="button"
          >
            <span
              ng-class="showPasswordConfirmation ? 'dashicons dashicons-visibility' : 'dashicons dashicons-hidden'"
            ></span>
          </button>
        </div>
        <button
          ng-if="!submitting"
          class="button button-primary max-w-120 mx-auto"
          ng-click="submitReset()"
        >
          Submit
        </button>

        <div class="d-flex align-items-center" ng-if="submitting">
          <strong>Submitting, please wait...</strong>
          <div
            class="spinner is-active ml-auto"
            role="status"
            aria-hidden="true"
          ></div>
        </div>
      </form>
      <wp-notice-list></wp-notice-list>
    </div>
  </div>
</div>
