<div class="dropdown">
	<button
		class="btn btn-secondary dropdown-toggle"
		type="button"
		id="dropdownMenuButton"
		data-bs-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>
		Alternates
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a
			class="dropdown-item text-wrap text-decoration-none"
			ng-repeat="product in $ctrl.products"
			ng-href="/{{ $ctrl.productSlug }}/{{ product.slug }}"
		>
			{{ product.description }}
		</a>
	</div>
</div>
