<layout-component>
	<form
		id="forgotPasswordForm"
		name="forgotPasswordForm"
		ng-submit="$ctrl.onSubmit(customer)"
	>
		<div class="mb-3">
			<label for="email" class="form-label"> Email </label>
			<input
				type="email"
				id="email"
				name="email"
				class="form-control"
				autocomplete="email"
				ng-disabled="$ctrl.isSubmitted"
				ng-model="customer.email"
				ng-pattern="$ctrl.emailPattern"
				ng-required="true"
			/>
		</div>
		<button
			class="btn btn-primary"
			ng-click="$ctrl.onSubmit( customer )"
			ng-disabled="forgotPasswordForm.$invalid || $ctrl.isSubmitting || $ctrl.isSubmitted"
		>
			{{ $ctrl.isSubmitting ? 'Submitting' : 'Submit' }}
		</button>
	</form>
</layout-component>
