<layout-component>
	<div class="d-flex justify-content-center" ng-show="$ctrl.isLoading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<div
		class="alert alert-info"
		role="alert"
		ng-if="!$ctrl.isValidated"
		ng-hide="$ctrl.isLoading"
	>
		<a class="alert-link" ng-href="{{ $ctrl.pageUrls.login }}">Sign In</a>
		or
		<a class="alert-link" ng-href="{{ $ctrl.pageUrls.forgotPassword }}"
			>get a email to reset your password</a
		>.
	</div>

	<form
		class="form"
		name="form"
		ng-if="$ctrl.isValidated"
		ng-hide="$ctrl.isLoading || $ctrl.isSubmitted"
	>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<div class="input-group">
				<input
					class="form-control"
					id="password"
					name="password"
					aria-describedby="passwordHelp"
					pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
					minlength="8"
					required
					autocomplete="new-password"
					ng-attr-type="{{
						$ctrl.isShowingPassword ? 'text' : 'password'
					}}"
					ng-model="$ctrl.password"
					ng-class="{
						'is-valid': form.password.$valid,
						'is-invalid':
							form.password.$invalid && form.password.$touched
					}"
					spellcheck="false"
				/>
				<button
					class="btn btn-secondary"
					type="button"
					ng-click="$ctrl.isShowingPassword = !$ctrl.isShowingPassword"
				>
					<i
						ng-class="
							$ctrl.isShowingPassword
								? 'bi bi-eye-fill'
								: 'bi bi-eye-slash-fill'
						"
					></i>
				</button>
			</div>
			<div class="progress mt-1">
				<div
					class="progress-bar"
					role="progressbar"
					aria-valuenow="25"
					aria-valuemin="0"
					aria-valuemax="100"
					ng-style="{
						width: $ctrl.getPasswordStrength(form.password) + '%'
					}"
					ng-class="{
						'bg-success': form.password.$valid,
						'bg-warning': form.password.$invalid,
						'bg-danger':
							$ctrl.getPasswordStrength(form.password) < 50
					}"
				></div>
			</div>
			<small
				id="passwordHelp"
				ng-class="[
					'form-text',
					{
						'has-vivid-red-color':
							form.password.$invalid && form.password.$touched
					}
				]"
			>
				{{
					form.password.$valid
						? 'Password valid.'
						: 'Passwords must be at least 8 characters and contain at least one uppercase letter, one lowercase letter, a special character (*,!,$, etc.) and a number.'
				}}
			</small>
		</div>

		<div class="mb-3">
			<label for="passwordConfirmation" class="form-label"
				>Reenter Password</label
			>
			<div class="input-group">
				<input
					class="form-control"
					id="passwordConfirmation"
					aria-describedby="passwordConfirmationHelp"
					name="passwordConfirmation"
					pattern="(?=.*[0-9])(?=.*[!@#$%^&*-])[a-zA-Z0-9!@#$%^&*]{8,}"
					minlength="8"
					required
					autocomplete="new-password"
					ng-attr-type="{{
						$ctrl.isShowingPasswordCheck ? 'text' : 'password'
					}}"
					ng-model="$ctrl.passwordConfirmation"
					ng-class="{
						'is-valid':
							form.passwordConfirmation.$valid &&
							$ctrl.password === $ctrl.passwordConfirmation,
						'is-invalid':
							form.passwordConfirmation.$invalid &&
							form.passwordConfirmation.$touched
					}"
					spellcheck="false"
				/>
				<button
					class="btn btn-secondary"
					type="button"
					ng-click="$ctrl.isShowingPasswordCheck = !$ctrl.isShowingPasswordCheck"
				>
					<i
						ng-class="
							$ctrl.isShowingPasswordCheck
								? 'bi bi-eye-fill'
								: 'bi bi-eye-slash-fill'
						"
					></i>
				</button>
			</div>
			<div class="progress mt-1">
				<div
					class="progress-bar"
					role="progressbar"
					aria-valuenow="25"
					aria-valuemin="0"
					aria-valuemax="100"
					ng-style="{
						width:
							$ctrl.getPasswordStrength(
								form.passwordConfirmation
							) + '%'
					}"
					ng-class="{
						'bg-success': form.passwordConfirmation.$valid,
						'bg-warning':
							form.passwordConfirmation.$invalid ||
							$ctrl.password !== $ctrl.passwordConfirmation,
						'bg-danger':
							$ctrl.getPasswordStrength(
								form.passwordConfirmation
							) < 50
					}"
				></div>
			</div>
			<small
				id="passwordConfirmationHelp"
				ng-class="[
					'form-text',
					{
						'has-vivid-red-color':
							form.passwordConfirmation.$invalid &&
							form.passwordConfirmation.$touched
					}
				]"
			>
				{{
					form.passwordConfirmation.$valid &&
					$ctrl.password === $ctrl.passwordConfirmation
						? 'Your passwords match.'
						: 'Please verify your password.'
				}}
			</small>
		</div>

		<button
			class="btn btn-primary"
			ng-disabled="form.$invalid ||
					$ctrl.password !== $ctrl.passwordConfirmation ||
					$ctrl.isInProgress"
			ng-click="$ctrl.onClick()"
		>
			{{ $ctrl.isInProgress ? 'Resetting Password' : 'Reset Password' }}
			<span
				class="spinner-border spinner-border-sm"
				role="status"
				aria-hidden="true"
				ng-show="$ctrl.isInProgress"
			></span>
		</button>
	</form>
</layout-component>
