<div class="card shadow-sm mb-3" ng-if="$ctrl.list.length > 0">
	<div class="card-header d-flex justify-content-between align-items-center">
		<button
			class="btn btn-link btn-block d-flex align-items-baseline justify-content-between has-text-align-left p-0"
			type="button"
			data-toggle="collapse"
			data-target="#categories"
			aria-expanded="true"
			aria-controls="categories"
			ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
			ng-attr-title="{{ $ctrl.isCollapsed ? 'Expand' : 'Collapse' }} Categories panel"
		>
			Categories
			<i
				aria-hidden="true"
				ng-class="[
					'bi',
					{
						'bi-chevron-down': $ctrl.isCollapsed,
						'bi-chevron-up': !$ctrl.isCollapsed
					}
				]"
			></i>
		</button>
	</div>
	<div class="collapse show" ng-attr-id="categories">
		<div class="card-body pb-0">
			<ul class="list-unstyled">
				<li ng-repeat="item in $ctrl.list | orderBy:'title' track by $index">
					<div class="d-flex justify-content-between align-items-baseline">
						<a
							ng-href="/{{ $ctrl.catSlug }}/{{ item.slug }}{{ $ctrl.params }}"
							ng-class="['pb-1 text-break', { 'font-weight-bold': item.active }]"
						>
							{{ item.title }}
						</a>
						<span
							class="badge badge-light ml-2"
							ng-if="item.results && (!item.tree || item.tree.length === 1)"
						>
							{{ $ctrl.isLoading ? '&hellip;' : (item.results | number) }}
						</span>
					</div>
					<ul class="children list-unstyled pl-3" ng-if="item.active && item.tree.length > 0">
						<li ng-if="item.tree[1]">
							<div class="d-flex justify-content-between align-items-baseline">
								<a
									class="font-weight-bold pb-1 text-break"
									ng-href="/{{ $ctrl.catSlug }}/{{ item.tree[1].slug }}{{ $ctrl.params }}"
								>
									{{ item.tree[1].title }}
								</a>
								<span class="badge badge-light ml-2" ng-if="item.results && item.tree.length === 2">
									{{ $ctrl.isLoading ? '&hellip;' : (item.results | number) }}
								</span>
							</div>
							<ul class="children list-unstyled pl-3" ng-if="item.tree.length > 1">
								<li ng-if="item.tree[2]">
									<div class="d-flex justify-content-between align-items-baseline">
										<a
											class="font-weight-bold pb-1 text-break"
											ng-href="/{{ $ctrl.catSlug }}/{{ item.tree[2].slug }}{{ $ctrl.params }}"
										>
											{{ item.tree[2].title }}
										</a>
										<span
											class="badge badge-light ml-2"
											ng-if="item.results && item.tree.length === 3"
										>
											{{ $ctrl.isLoading ? '&hellip;' : (item.results | number) }}
										</span>
									</div>
									<ul class="children list-unstyled pl-3" ng-if="item.tree.length > 2">
										<li ng-if="item.tree[3]">
											<div class="d-flex justify-content-between align-items-baseline">
												<a
													class="font-weight-bold pb-1 text-break"
													ng-href="/{{ $ctrl.catSlug }}/{{ item.tree[3].slug }}{{ $ctrl.params }}"
												>
													{{ item.tree[3].title }}
												</a>
												<span
													class="badge badge-light ml-2"
													ng-if="item.results && item.tree.length === 4"
												>
													{{ $ctrl.isLoading ? '&hellip;' : (item.results | number) }}
												</span>
											</div>
										</li>
										<li
											class="d-flex justify-content-between align-items-baseline"
											ng-repeat="subcategory in item.subcategories | orderBy:'title' track by $index"
											ng-if="item.tree.length === 3"
										>
											<a
												class="pb-1 text-break"
												ng-href="/{{ $ctrl.catSlug }}/{{ subcategory.slug }}{{ $ctrl.params }}"
											>
												{{ subcategory.title }}
											</a>
											<span class="badge badge-light ml-2" ng-if="subcategory.results">
												{{ $ctrl.isLoading ? '&hellip;' : (subcategory.results | number) }}
											</span>
										</li>
									</ul>
								</li>

								<li
									class="d-flex justify-content-between align-items-baseline"
									ng-repeat="subcategory in item.subcategories | orderBy:'title' track by $index"
									ng-if="item.tree.length === 2"
								>
									<a
										class="pb-1 text-break"
										ng-href="/{{ $ctrl.catSlug }}/{{ subcategory.slug }}{{ $ctrl.params }}"
									>
										{{ subcategory.title }}
									</a>
									<span class="badge badge-light ml-2" ng-if="subcategory.results">
										{{ $ctrl.isLoading ? '&hellip;' : (subcategory.results | number) }}
									</span>
								</li>
							</ul>
						</li>

						<li
							class="d-flex justify-content-between align-items-baseline"
							ng-repeat="subcategory in item.subcategories | orderBy:'title' track by $index"
							ng-if="item.tree.length === 1"
						>
							<a
								class="pb-1 text-break"
								ng-href="/{{ $ctrl.catSlug }}/{{ subcategory.slug }}{{ $ctrl.params }}"
							>
								{{ subcategory.title }}
							</a>
							<span class="badge badge-light ml-2" ng-if="subcategory.results">
								{{ $ctrl.isLoading ? '&hellip;' : (subcategory.results | number) }}
							</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
