<div class="row py-3">
	<div class="col">
		<h2>Billing Address</h2>
	</div>
	<div class="col-auto" ng-if="!$ctrl.isGuest && $ctrl.isAuthed">
		<wp-button
			custom-font-size="small"
			is-style-outline="true"
			on-click="$ctrl.toggleShowSavedAddresses()"
		>
			{{ $ctrl.isShowingSavedAddresses ? 'Hide' : 'Show' }} Saved Addresses
		</wp-button>
	</div>
</div>
<div id="saved-billing-addresses" class="collapse">
	<checkout-address-book
		type="billing"
		address="$ctrl.billingAddress"
		is-address-book-updated="$ctrl.isAddressBookUpdated"
		is-locked="$ctrl.checkoutCtrl.hasLockedBilling"
		on-select="$ctrl.onSelectedAddress()"
	>
	</checkout-address-book>
</div>
<form name="billingAddressForm" novalidate>
	<fieldset ng-disabled="$ctrl.isShippingSameAsBilling">
		<!-- wp:columns -->
		<div
			class="wp-block-columns"
			ng-if="!$ctrl.isGuest && $ctrl.isAuthed"
			ng-hide="$ctrl.checkoutCtrl.hasLockedBilling && !$ctrl.billingAddress.profileName"
		>
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-profile-name"> Saved Address Name </label>
				<input
					type="text"
					class="form-control"
					id="billing-profile-name"
					name="profileName"
					ng-model="$ctrl.billingAddress.profileName"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
					ng-attr-placeholder="{{
						$ctrl.checkoutCtrl.hasLockedBilling ? '' : 'Example: Home or Office'
					}}"
				/>
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-first-name">First Name <small>(required)</small></label>
				<input
					type="text"
					class="form-control"
					id="billing-first-name"
					ng-model="$ctrl.billingAddress.first_name"
					name="firstName"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.firstName.$invalid
					}"
					autocomplete="given-name"
					required
				/>
				<div class="invalid-feedback">Please enter your First Name.</div>
			</div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-last-name">Last Name <small>(required)</small></label>
				<input
					type="text"
					class="form-control"
					id="billing-last-name"
					ng-model="$ctrl.billingAddress.last_name"
					autocomplete="family-name"
					name="lastName"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.lastName.$invalid
					}"
					required
				/>
				<div class="invalid-feedback">Please enter your Last Name.</div>
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-email">Email Address</label>
				<input
					type="email"
					class="form-control"
					id="billing-email"
					ng-model="$ctrl.billingAddress.email"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.email.$invalid
					}"
					ng-pattern="$ctrl.emailPattern"
					autocomplete="email"
					name="email"
					required
				/>
				<div class="invalid-feedback">Please enter a valid email address.</div>
			</div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-phone">Phone</label>
				<input
					type="tel"
					autocomplete="tel"
					class="form-control"
					id="billing-phone"
					ng-model="$ctrl.billingAddress.phone"
					name="phone"
					input-tel
					placeholder="(555) 555-1234"
				/>
				<div class="form-text text-muted small">
					Invalid phone number may cause delays in your order.
				</div>
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:paragraph {"align":"center","fontSize":"small"} -->
		<p
			class="has-text-align-center has-small-font-size"
			ng-if="$ctrl.checkoutCtrl.hasLockedBilling"
		>
			Locked Billing is enabled for your account. Please select a saved address or contact your
			administrator.
		</p>
		<!-- /wp:paragraph -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-address-1">Address Line 1 <small>(required)</small></label>
				<input
					type="text"
					autocomplete="address-line1"
					class="form-control"
					id="billing-address-1"
					ng-model="$ctrl.billingAddress.address1"
					name="address1"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.address1.$invalid
					}"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
					required
				/>
				<div class="invalid-feedback">Please enter your Street Address.</div>
			</div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-address-2">Address Line 2</label>
				<input
					type="text"
					autocomplete="address-line2"
					class="form-control"
					id="billing-address-2"
					name="address2"
					ng-model="$ctrl.billingAddress.address2"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
				/>
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:columns -->
		<div class="wp-block-columns">
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-city">City <small>(required)</small></label>
				<input
					type="text"
					autocomplete="address-level2"
					class="form-control"
					id="billing-city"
					ng-model="$ctrl.billingAddress.city"
					name="city"
					required
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.city.$invalid
					}"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
				/>
				<div class="invalid-feedback">Please enter your City.</div>
			</div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-state">State <small>(required)</small></label>
				<select
					class="form-control"
					id="billing-state"
					autocomplete="address-level1"
					name="state"
					required
					ng-options="item as item.name for item in $ctrl.stateOptions track by item.id"
					ng-model="$ctrl.billingAddress.state"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.state.$invalid
					}"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
				></select>
				<div class="invalid-feedback">Please select your State.</div>
			</div>
			<!-- /wp:column -->
			<!-- wp:column -->
			<div class="wp-block-column">
				<label for="billing-zip">Postal Code <small>(required)</small></label>
				<input
					type="text"
					autocomplete="postal-code"
					class="form-control"
					id="billing-zip"
					ng-model="$ctrl.billingAddress.zip"
					name="zip"
					ng-class="{
						'is-invalid': billingAddressForm.$submitted && billingAddressForm.zip.$invalid
					}"
					ng-disabled="$ctrl.checkoutCtrl.hasLockedBilling"
					pattern="\d{5}(?:[- ]?\d{4})?$"
					autocomplete="postal-code"
					required
					minlength="5"
					maxlength="10"
				/>
				<div class="invalid-feedback">Please enter a valid Postal or Zip Code.</div>
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->
	</fieldset>
</form>
<div class="row">
	<div class="col">
		<button class="btn btn-link" ng-click="$ctrl.checkoutCtrl.showTab('shipping')">
			<i class="bi bi-chevron-left"></i> Go back to Shipping
		</button>
	</div>
	<div class="col-md has-text-align-right">
		<div class="d-flex align-items-baseline justify-content-end">
			<checkout-update-saved-address
				class="mr-2"
				address="$ctrl.billingAddress"
				is-address-book-updated="$ctrl.isAddressBookUpdated"
				type="billing"
				form="billingAddressForm"
				ng-if="billingAddressForm.$dirty && !$ctrl.checkoutCtrl.hasLockedBilling"
				handle-change="$ctrl.handleChange()"
				handle-save="$ctrl.handleSave()"
			></checkout-update-saved-address>
			<wp-button
				custom-font-size="small"
				on-click="$ctrl.confirmBillingAddress(billingAddressForm)"
			>
				Go to Delivery Method
			</wp-button>
		</div>
	</div>
</div>
