<div class="card shadow-sm mb-3" ng-if="$ctrl.attributes && $ctrl.attributes.length > 0">
	<div class="card-header d-flex justify-content-between align-items-center">
		<button
			class="btn btn-link btn-block d-flex align-items-baseline justify-content-between has-text-align-left p-0"
			type="button"
			data-toggle="collapse"
			data-target="#attributes"
			aria-expanded="true"
			aria-controls="attributes"
			ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
			ng-attr-title="{{
				$ctrl.isCollapsed ? 'Expand Attributes panel' : 'Collapse Attributes panel'
			}}"
		>
			<h2 class="h6 mb-0">Attributes</h2>
			<i
				aria-hidden="true"
				ng-class="[
					'bi',
					{
						'bi-chevron-down': $ctrl.isCollapsed,
						'bi-chevron-up': !$ctrl.isCollapsed
					}
				]"
			></i>
		</button>
	</div>
	<div class="collapse show" id="attributes">
		<div class="card-body">
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="bi bi-filter"></i>
					</span>
				</div>
				<input
					class="form-control"
					type="search"
					placeholder="Filter attributes..."
					ng-model="$ctrl.attributesQuery"
				/>
				<div class="input-group-append" ng-if="$ctrl.attributesQuery.length > 0">
					<button
						class="btn btn-outline-secondary"
						title="Reset"
						ng-click="$ctrl.attributesQuery = ''"
					>
						<i class="bi bi-arrow-counterclockwise"></i>
					</button>
				</div>
			</div>
			<div
				class="alert alert-warning mb-0 mt-3 has-small-font-size"
				ng-show="$ctrl.attributes && results.length === 0"
			>
				Sorry, no attributes match your filter query.
			</div>
		</div>
		<ul class="list-group list-group-flush mb-1">
			<li
				class="list-group-item p-0"
				ng-repeat="attribute in $ctrl.attributes | filter:$ctrl.attributesQuery as results track by $index"
			>
				<catalog-attributes-list-item attribute="attribute" is-in-progress="$ctrl.isInProgress">
				</catalog-attributes-list-item>
			</li>
		</ul>
	</div>
</div>
