<h2>Shipping Address</h2>

<form name="shippingAddressForm" novalidate>
	<div class="row mb-3">
		<div class="col-sm-6">
			<label for="shipping-first-name" class="form-label"
				>First Name <small>(required)</small></label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-first-name"
				ng-model="$ctrl.shippingAddress.first_name"
				name="firstName"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.firstName.$invalid
				}"
				autocomplete="given-name"
				required
			/>
			<div class="invalid-feedback">Please enter your First Name.</div>
		</div>

		<div class="col-sm-6">
			<label for="shipping-last-name" class="form-label"
				>Last Name <small>(required)</small></label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-last-name"
				ng-model="$ctrl.shippingAddress.last_name"
				name="lastName"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.lastName.$invalid
				}"
				autocomplete="family-name"
				required
			/>
			<div class="invalid-feedback">Please enter your Last Name.</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-6">
			<label for="shipping-email" class="form-label"
				>Email Address <small>(required)</small></label
			>
			<input
				type="email"
				class="form-control"
				id="shipping-email"
				ng-model="$ctrl.shippingAddress.email"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.email.$invalid
				}"
				ng-pattern="$ctrl.emailPattern"
				autocomplete="email"
				name="email"
				required
			/>
			<div class="invalid-feedback">
				Please enter a valid email address.
			</div>
		</div>

		<div class="col-sm-6">
			<label for="shipping-phone" class="form-label"
				>Phone <small>(required)</small></label
			>
			<input
				autocomplete="tel"
				id="shipping-phone"
				name="phone"
				ng-class="[
					'form-control',
					{
						'is-invalid':
							shippingAddressForm.$submitted &&
							shippingAddressForm.phone.$invalid
					}
				]"
				ng-model="$ctrl.shippingAddress.phone"
				required
				type="tel"
				ui-mask="(299) 999-9999"
			/>
			<div class="form-text text-muted small">
				Please enter a valid phone number to prevent possible delays in
				your order.
			</div>
		</div>
	</div>
	<div class="alert alert-info" ng-if="$ctrl.checkoutCtrl.hasLockedShipping">
		Locked Shipping is enabled for your account. Please click the button
		below to select a saved address or contact your administrator.
	</div>
	<button
		ng-if="!$ctrl.isGuest && $ctrl.isAuthed"
		class="btn btn-primary mb-3"
		ng-click="$ctrl.toggleShowSavedAddresses()"
	>
		{{ $ctrl.isShowingSavedAddresses ? 'Hide' : 'Show' }} saved addresses
	</button>

	<div id="saved-shipping-addresses" ng-show="$ctrl.isShowingSavedAddresses">
		<checkout-address-book
			type="shipping"
			address="$ctrl.shippingAddress"
			is-address-book-updated="$ctrl.isAddressBookUpdated"
			is-locked="$ctrl.checkoutCtrl.hasLockedShipping"
			on-select="$ctrl.onSelectedAddress()"
		>
		</checkout-address-book>
	</div>

	<div
		class="mb-3"
		ng-if="!$ctrl.isGuest && $ctrl.isAuthed"
		ng-hide="
			$ctrl.checkoutCtrl.hasLockedShipping &&
			!$ctrl.shippingAddress.profileName
		"
	>
		<label for="shipping-profile-name" class="form-label">
			Saved Address Name
		</label>
		<input
			type="text"
			class="form-control"
			id="shipping-profile-name"
			name="profileName"
			ng-model="$ctrl.shippingAddress.profileName"
			ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
			ng-attr-placeholder="{{
				$ctrl.checkoutCtrl.hasLockedShipping
					? ''
					: 'Example: Home or Office'
			}}"
		/>
	</div>

	<div class="row mb-3">
		<div class="col-sm-6">
			<label for="shipping-address-1" class="form-label"
				>Address Line 1 <small>(required)</small></label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-address-1"
				ng-model="$ctrl.shippingAddress.address1"
				name="address1"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.address1.$invalid
				}"
				ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
				autocomplete="address-line1"
				required
			/>
			<div class="invalid-feedback">
				Please enter your Street Address.
			</div>
		</div>
		<div class="col-sm-6">
			<label for="shipping-address-2" class="form-label"
				>Address Line 2</label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-address-2"
				ng-model="$ctrl.shippingAddress.address2"
				ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
				name="address2"
				autocomplete="address-line2"
			/>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-sm-4">
			<label for="shipping-city" class="form-label"
				>City <small>(required)</small></label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-city"
				ng-model="$ctrl.shippingAddress.city"
				name="city"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.city.$invalid
				}"
				ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
				autocomplete="address-level2"
				required
			/>
			<div class="invalid-feedback">Please enter your City.</div>
		</div>
		<div class="col-sm-4">
			<label for="shipping-state" class="form-label"
				>State <small>(required)</small></label
			>
			<select
				class="form-control"
				id="shipping-state"
				ng-options="item as item.name for item in $ctrl.stateOptions track by item.id"
				name="state"
				ng-model="$ctrl.shippingAddress.state"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.state.$invalid
				}"
				ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
				autocomplete="address-level1"
				required
			></select>
			<div class="invalid-feedback">Please select your State.</div>
		</div>
		<div class="col-sm-4">
			<label for="shipping-zip" class="form-label"
				>Postal Code <small>(required)</small></label
			>
			<input
				type="text"
				class="form-control"
				id="shipping-zip"
				ng-model="$ctrl.shippingAddress.zip"
				name="zip"
				ng-class="{
					'is-invalid':
						shippingAddressForm.$submitted &&
						shippingAddressForm.zip.$invalid
				}"
				ng-disabled="$ctrl.checkoutCtrl.hasLockedShipping"
				pattern="\d{5}(?:[- ]?\d{4})?$"
				autocomplete="postal-code"
				required
				minlength="5"
				maxlength="10"
			/>
			<div class="invalid-feedback">
				Please enter a valid Postal or Zip Code.
			</div>
		</div>
	</div>
</form>
<div class="row">
	<div class="col">
		<div
			class="form-check mb-2"
			ng-if="!$ctrl.checkoutCtrl.hasLockedBilling"
		>
			<input
				type="checkbox"
				class="form-check-input"
				id="billing-shipping-same"
				ng-model="$ctrl.isShippingSameAsBilling"
			/>
			<label class="form-check-label" for="billing-shipping-same"
				>Billing is same as shipping address.</label
			>
		</div>
	</div>
	<div class="col-md text-end">
		<div class="d-flex align-items-baseline justify-content-end">
			<checkout-update-saved-address
				class="me-2"
				address="$ctrl.shippingAddress"
				is-address-book-updated="$ctrl.isAddressBookUpdated"
				type="shipping"
				form="shippingAddressForm"
				ng-if="
					shippingAddressForm.$dirty &&
					!$ctrl.checkoutCtrl.hasLockedShipping
				"
				handle-change="$ctrl.handleChange()"
				handle-save="$ctrl.handleSave()"
			></checkout-update-saved-address>
			<button
				class="btn btn-primary"
				ng-if="!$ctrl.isShippingSameAsBilling"
				ng-click="$ctrl.confirmShippingAddress(shippingAddressForm)"
			>
				Go to Billing Address
			</button>
			<button
				class="btn btn-primary"
				ng-if="$ctrl.isShippingSameAsBilling"
				ng-click="$ctrl.confirmAddress(shippingAddressForm)"
			>
				Go to Delivery Method
			</button>
		</div>
	</div>
</div>
