<div ng-hide="$ctrl.isComplete">
	<div id="sq-card-number"></div>
	<div class="third" id="sq-expiration-date"></div>
	<div class="third" id="sq-cvv"></div>
	<div class="third" id="sq-postal-code"></div>
	<button
		id="sq-creditcard"
		class="button-credit-card"
		ng-click="$ctrl.squareUpPaymentForm.requestCardNonce()"
	>
		Complete Order
	</button>
	<button id="sq-google-pay" class="button-google-pay"></button>
</div>

<div
	class="alert alert-warning"
	ng-if="$ctrl.isInProgress && !$ctrl.isComplete"
>
	Completing order, please wait and do not refresh the page.
</div>

<div class="alert alert-success" role="alert" ng-if="$ctrl.isComplete">
	<h3>Checkout Complete for Order {{ $ctrl.orderId }}</h3>
	<p>
		{{
			$ctrl.isPending
				? 'Your order is now pending approval.'
				: 'Your order has been submitted!'
		}}
	</p>
	<a class="btn btn-primary" href="/"> Go to Home </a>
</div>
