$red: #d63638;

:root {
	--wp--color--blue-40: #3582c4;
	--wp--color--blue-50: #2271b1;
	--wp--color--blue-60: #135e96;
	--wp--color--blue-70: #0a4b78;

	--wp--color--gray-0: #f6f7f7;
	--wp--color--gray-2: #f0f0f1;
	--wp--color--gray-5: #dcdcde;
	--wp--color--gray-10: #c3c3c6;
	--wp--color--gray-20: #a7aaad;
	--wp--color--gray-30: #8c8f94;
	--wp--color--gray-50: #656a72;
	--wp--color--gray-60: #50575e;
	--wp--color--gray-70: #3c4249;

	--wp--color--red-50: #d63638;
	--wp--color--red-60: #b32d2e;
}
