<layout-component breadcrumbs="$ctrl.breadcrumbs" heading="Add New Product">
	<form name="productForm">
		<div class="row">
			<div class="col-lg-4">
				<div class="productForm">
					<div class="mb-3">
						<label class="form-label" for="prod_name">Name</label>
						<input
							class="form-control"
							ng-class="{
								'is-invalid': productForm.prod_name.$invalid
							}"
							type="text"
							id="prod_name"
							name="prod_name"
							ng-model="$ctrl.product.description"
							minlength="3"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="sku" class="form-label"
							><abbr title="Stock Keeping Unit">SKU</abbr></label
						>
						<input
							id="sku"
							class="form-control"
							ng-class="{
								'is-invalid': productForm.sku.$invalid
							}"
							type="text"
							name="sku"
							ng-model="$ctrl.product.sku"
							required
						/>
					</div>
					<div class="mb-3">
						<label class="form-label" for="long-description"
							>Description</label
						>
						<div class="border">
							<textarea
								class="form-control"
								id="long-description"
								name="long_description"
								ui-tinymce="$ctrl.tinymceOptions"
								ng-model="$ctrl.product.long_description"
							></textarea>
						</div>
					</div>
					<div class="mb-3">
						<label class="form-label">Slug</label>
						<input
							class="form-control"
							type="text"
							name="slug"
							ng-model="$ctrl.product.slug"
						/>
						<p class="description">
							Must be in kebob-case format. Leave blank to
							automatically generate when saved.
						</p>
					</div>
					<div class="mb-3">
						<label class="form-label"
							><abbr title="Universal Product Code"
								>UPC</abbr
							></label
						>
						<input
							id="upc"
							class="form-control"
							type="text"
							name="upc"
							ng-model="$ctrl.product.upc"
						/>
					</div>
					<div class="mb-3">
						<label class="form-label"
							>Manufacturer Part Number</label
						>
						<input
							class="form-control"
							type="text"
							name="mfg_part_num"
							ng-model="$ctrl.product.mfg_part_num"
						/>
					</div>
					<div class="mb-3">
						<label for="qty" class="form-label"
							>Stock Quantity</label
						>
						<input
							id="qty"
							name="qty"
							class="form-control"
							type="number"
							min="0"
							ng-model="$ctrl.product.qty"
							ng-disabled="$ctrl.product.ignore_inventory"
						/>
					</div>
					<div class="form-check mb-3">
						<input
							id="ignore_inventory"
							class="form-check-input"
							type="checkbox"
							ng-model="$ctrl.product.ignore_inventory"
						/>
						<label for="ignore_inventory" class="form-check-label"
							>Ignore Inventory Stock</label
						>
					</div>
					<fieldset>
						<legend>Unit of Measurement</legend>
						<div class="mb-3">
							<label for="uom-id" class="form-label"
								><abbr title="Unit of measurement">UOM</abbr>
								ID</label
							>
							<input
								id="uom-id"
								class="form-control"
								type="text"
								name="uomid"
								ng-model="$ctrl.product.uomid"
								list="uom-id-options"
							/>
							<datalist id="uom-id-options">
								<option
									ng-repeat="option in $ctrl.uomOptions"
									value="{{ option.value }}"
								></option>
							</datalist>
						</div>
						<div class="mb-3">
							<label for="uom-description" class="form-label"
								><abbr title="Unit of measurement">UOM</abbr>
								Description</label
							>
							<input
								id="uom-description"
								class="form-control"
								type="text"
								name="uomdesc"
								ng-model="$ctrl.product.uomdesc"
								list="uom-id-description"
							/>
							<datalist id="uom-id-description">
								<option
									ng-repeat="option in $ctrl.uomOptions"
									value="{{ option.label }}"
								></option>
							</datalist>
						</div>
						<div class="mb-3">
							<label for="uomqty" class="form-label"
								><abbr title="Unit of measurement">UOM</abbr>
								Quantity</label
							>
							<input
								id="uomqty"
								name="uomqty"
								class="form-control"
								type="number"
								ng-model="$ctrl.product.uomqty"
								min="0"
							/>
						</div>
					</fieldset>
					<div class="mb-3">
						<label for="category" class="form-label"
							>Category</label
						>
						<div class="input-group">
							<input
								id="category"
								name="category"
								class="form-control"
								type="text"
								placeholder="None"
								ng-model="$ctrl.product.category.title"
								disabled
							/>
							<button
								type="button"
								ng-click="$ctrl.openCatSearch()"
								class="btn btn-outline-primary"
							>
								Select
							</button>
						</div>
						<p
							class="description"
							ng-if="
								$ctrl.product.category.title &&
								!$ctrl.product.pricesheets.length &&
								$ctrl.product.status !== 'inactive'
							"
						>
							This product will not appear in the catalog under {{
							$ctrl.product.category.title }} until assigned a
							price.
						</p>
					</div>
					<div class="mb-3">
						<label class="form-label" for="status">Status</label>
						<select
							class="form-select"
							type="text"
							name="status"
							id="status"
							ng-options="key as val for (key, val) in productsFactory.getStatuses()"
							ng-model="$ctrl.product.status"
						></select>
					</div>
					<button
						class="btn btn-primary"
						type="submit"
						title="{{
							productForm.$invalid
								? 'Please make sure you have filled out all of the required fields.'
								: ''
						}}"
						ng-disabled="productForm.$invalid"
						ng-click="$ctrl.addProduct()"
					>
						Save
					</button>
				</div>
			</div>
			<div class="col-lg-8">
				<uib-tabset>
					<uib-tab heading="Pricing">
						<h3 class="h5">Pricing</h3>
						<p
							class="description"
							ng-if="
								!$ctrl.product.pricesheets.length &&
								$ctrl.product.status !== 'inactive'
							"
						>
							Add a price to make this product visible on the
							catalog.
						</p>
						<p class="description">
							Prices generated from punchout suppliers will not be
							visible on the public catalog.
						</p>
						<ul
							class="list-group mb-3"
							ng-if="$ctrl.product.pricesheets.length"
						>
							<li
								class="list-group-item"
								ng-if="!pricesheet.deleted"
								ng-repeat="pricesheet in $ctrl.product.pricesheets track by $index"
							>
								<div
									class="hstack justify-content-between align-items-baseline"
								>
									<label
										class="form-label"
										ng-attr-for="price-{{ $index }}"
									>
										Price for
										<em>
											{{ pricesheet.pricesheetindex.sheet
											}}
										</em>
									</label>
									<a
										class="btn btn-link btn-sm"
										ng-href="?page=vendorfuel#!/catalog/pricesheets/{{
											pricesheet.price_sheet_id
										}}"
										>Edit price sheet</a
									>
									<button
										type="button"
										ng-click="$ctrl.removePricesheet($index)"
										class="btn btn-outline-danger btn-sm border-0 ms-auto"
									>
										Remove
									</button>
								</div>

								<div class="input-group mb-2">
									<span class="input-group-text"> $ </span>
									<input
										ng-class="[
											'form-control',
											{
												'is-invalid':
													productForm[
														'price' + $index
													].$touched &&
													(!pricesheet.price ||
														pricesheet.price >
															$ctrl.priceLimit)
											}
										]"
										ng-disabled="pricesheet.punchout_only"
										ng-attr-id="price-{{ $index }}"
										ng-attr-name="price{{ $index }}"
										type="text"
										maxlength="10"
										ng-pattern="/(?=.*[1-9])^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$/"
										ng-model="pricesheet.price"
										required
									/>
								</div>
								<p
									class="description"
									ng-if="pricesheet.punchout_only"
								>
									Price generated from punchout.
								</p>
								<p
									class="description text-danger"
									ng-if="
										productForm['price' + $index]
											.$touched &&
										(!pricesheet.price ||
											pricesheet.price > $ctrl.priceLimit)
									"
								>
									Please enter a price between {{
									$ctrl.priceMinimum | currency }} and {{
									$ctrl.priceLimit | currency }}.
								</p>
							</li>
						</ul>
						<button
							type="button"
							class="btn btn-outline-primary btn-sm"
							ng-click="$ctrl.openPsSearch()"
						>
							Add Price
						</button>
					</uib-tab>
					<uib-tab heading="Images">
						<h3 class="h5">Images</h3>
						<product-images
							product="$ctrl.stringify($ctrl.product)"
							handle-change="$ctrl.handleChange"
						></product-images>
					</uib-tab>
					<uib-tab heading="Details">
						<h3 class="h5">Details</h3>
						<product-details
							product="$ctrl.stringify($ctrl.product)"
							handle-change="$ctrl.handleChange"
						></product-details>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<abbr title="Attributes"> Attrs </abbr>
						</uib-tab-heading>
						<h3 class="h5">Attributes</h3>
						<fieldset>
							<div ng-repeat="n in numAttributes track by $index">
								<div class="hstack gap-2 mb-3">
									<div>
										<label
											ng-attr-for="att{{ n }}n"
											class="form-label"
										>
											Attribute {{ n }} Name
										</label>
										<input
											ng-attr-id="att{{ n }}n"
											class="form-control"
											type="text"
											name="att{{ n }}n"
											ng-model="$ctrl.product['att' + n + 'n']"
										/>
									</div>
									<div>
										<label
											ng-attr-for="att{{ n }}d"
											class="form-label"
										>
											Attribute {{ n }} Data
										</label>
										<input
											ng-attr-id="att{{ n }}d"
											class="form-control"
											type="text"
											name="att{{ n }}d"
											ng-model="$ctrl.product['att' + n + 'd']"
										/>
									</div>
									<button
										type="button"
										class="btn btn-danger mt-4"
										ng-click="$ctrl.removeAttribute(n)"
									>
										Delete
									</button>
								</div>
							</div>
							<button
								type="button"
								ng-show="numAttributes.length < maxAttributes"
								class="btn btn-outline-primary"
								ng-click="$ctrl.addAttribute()"
							>
								Add New Attribute
							</button>
						</fieldset>
					</uib-tab>
					<uib-tab>
						<uib-tab-heading>
							<abbr title="Documents">Docs</abbr>
						</uib-tab-heading>
						<h3 class="h5">Documents</h3>
						<fieldset>
							<div
								class="row g-2 mb-3 align-items-start"
								ng-repeat="document in $ctrl.product.documents track by $index"
							>
								<div class="col">
									<label
										ng-attr-for="doc_{{ $index }}_name"
										class="form-label"
										>Document {{ $index + 1 }} Name</label
									>
									<input
										ng-attr-id="doc_{{ $index }}_name"
										ng-attr-name="doc_{{ $index }}_name"
										class="form-control"
										type="text"
										ng-model="document.name"
									/>
								</div>
								<div class="col">
									<label
										ng-attr-for="doc_{{ $index }}_url"
										class="form-label"
										>Document {{ $index + 1 }} URL</label
									>
									<input
										ng-attr-id="doc_{{ $index }}_url"
										ng-attr-name="doc_{{ $index }}_url"
										ng-class="[
											'form-control',
											{
												'is-invalid':
													productForm[
														'doc_' + $index + '_url'
													].$invalid
											}
										]"
										type="url"
										ng-model="document.url"
									/>
									<div class="invalid-feedback">
										Please enter a URL.
									</div>
								</div>
								<div class="col-auto align-self-center">
									<button
										type="button"
										class="btn btn-danger mt-4"
										ng-click="$ctrl.deleteDocument( $index )"
									>
										Delete
									</button>
								</div>
							</div>
							<button
								type="button"
								class="btn btn-outline-primary"
								ng-click="$ctrl.addDocument()"
							>
								Add New Document
							</button>
						</fieldset>
					</uib-tab>
					<uib-tab heading="Parcels">
						<h3 class="h5">Parcels</h3>
						<div class="mb-3 border-bottom pb-3">
							<div class="list-group mb-3">
								<div
									class="list-group-item"
									ng-repeat="parcel in $ctrl.product.parcels track by $index"
								>
									<div
										class="hstack justify-content-between align-items-baseline"
									>
										<label
											class="form-label"
											ng-attr-for="weight-{{ $index }}"
											>Weight for
											<em
												>{{
												$ctrl.product.parcels[$index]
												.title }}</em
											></label
										>
										<a
											class="btn btn-link btn-sm"
											ng-href="?page=vf-shipping/parcels/{{
												$ctrl.product.parcels[$index].id
											}}"
											>Edit parcel</a
										>
										<button
											type="button"
											class="btn btn-outline-danger border-0 btn-sm ms-auto"
											ng-click="$ctrl.removeParcel($index)"
										>
											Remove
										</button>
									</div>
									<div class="input-group mb-2">
										<input
											class="form-control"
											type="number"
											ng-attr-id="weight-{{ $index }}"
											ng-attr-name="weight-{{ $index }}"
											ng-model="$ctrl.product.parcels[$index].pivot.weight"
											min="0"
										/>
										<select
											class="form-select"
											ng-options="key as val for (key, val) in parcelWeightUnits"
											ng-model="$ctrl.product.parcels[$index].pivot.mass_unit"
										></select>
									</div>
									<div class="text-end"></div>
								</div>
							</div>
							<button
								type="button"
								ng-click="$ctrl.openParcelSearch()"
								class="btn btn-outline-primary btn-sm"
							>
								Add Parcels
							</button>
						</div>
						<fieldset>
							<legend class="h6">Shipping</legend>
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									id="truck_only"
									ng-model="$ctrl.product.truck_only"
									ng-true-value="1"
									ng-false-value="0"
								/>
								<label
									class="form-check-label"
									for="truck_only"
								>
									Truck Only
								</label>
								<p class="description">
									Product can only be delivered via freight
									truck.
								</p>
							</div>
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									id="additional_shipping"
									ng-model="$ctrl.product.additional_shipping"
								/>
								<label
									class="form-check-label"
									for="additional_shipping"
								>
									Additional Shipping
								</label>
								<p class="description">
									Checking this will make this product not
									available for free shipping and subject to
									additional charge.
								</p>
							</div>
						</fieldset>
					</uib-tab>
					<uib-tab heading="Misc.">
						<h3 class="h5">Miscellaneous</h3>
						<fieldset>
							<div class="mb-3">
								<label class="form-label" for="avatax_tax_code"
									>Avalara Tax Code</label
								>
								<input
									class="form-control"
									type="text"
									id="avatax_tax_code"
									name="avatax_tax_code"
									ng-model="$ctrl.product.avatax_tax_code"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="alternates"
									>Alternate SKUs</label
								>
								<input
									class="form-control"
									type="text"
									id="alternates"
									name="alternates"
									ng-model="$ctrl.product.alternates"
								/>
								<p class="description">
									Add comma-separated SKUs to display
									alternate products in a dropdown menu.
								</p>
							</div>
							<div class="mb-3">
								<label class="form-label" for="related"
									>Related SKUs</label
								>
								<input
									class="form-control"
									type="text"
									id="related"
									name="related"
									ng-model="$ctrl.product.related"
								/>
								<p class="description">
									Add comma-separated SKUs to display related
									products.
								</p>
							</div>
							<div class="mb-3">
								<label class="form-label" for="model"
									>Model</label
								>
								<input
									class="form-control"
									type="text"
									id="model"
									name="model"
									ng-model="$ctrl.product.model"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="ability_one_sku"
									>AbilityOne SKU</label
								>
								<input
									class="form-control"
									type="text"
									id="ability_one_sku"
									name="ability_one_sku"
									ng-model="$ctrl.product.ability_one_sku"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="hazmat"
									>Hazmat</label
								>
								<input
									class="form-control"
									type="text"
									id="hazmat"
									name="hazmat"
									ng-model="$ctrl.product.hazmat"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="includes"
									>Includes</label
								>
								<input
									class="form-control"
									type="text"
									id="includes"
									name="includes"
									ng-model="$ctrl.product.includes"
									placeholder="'six packs'"
								/>
							</div>
							<div class="form-check mb-3">
								<input
									id="rebate"
									class="form-check-input"
									type="checkbox"
									ng-model="$ctrl.product.rebate"
									ng-true-value="1"
									ng-false-value="0"
								/>
								<label class="form-check-label" for="rebate">
									Rebate
								</label>
							</div>
							<div class="mb-3">
								<label for="country" class="form-label"
									>Country of Origin</label
								>
								<input
									id="country"
									class="form-control"
									type="text"
									ng-model="$ctrl.product.country"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="device"
									>Device</label
								>
								<input
									class="form-control"
									type="text"
									id="device"
									name="device"
									ng-model="$ctrl.product.device"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="family"
									>Family</label
								>
								<input
									class="form-control"
									type="text"
									id="family"
									name="family"
									ng-model="$ctrl.product.family"
								/>
							</div>
							<div class="form-check mb-3">
								<input
									class="form-check-input"
									type="checkbox"
									id="create-prop65"
									ng-model="$ctrl.product.prop65"
								/>
								<label
									class="form-check-label"
									for="create-prop65"
								>
									Enable California Proposition 65 Warning
								</label>
							</div>
							<div class="mb-3" ng-if="$ctrl.product.prop65">
								<label
									for="create-prop65-warning"
									class="form-label"
								>
									Proposition 65 Warning Text
								</label>
								<input
									id="create-prop65-warning"
									class="form-control"
									type="text"
									name="prop65_warning"
									ng-model="$ctrl.product.prop65_warning"
								/>
							</div>
						</fieldset>
					</uib-tab>
					<uib-tab heading="Meta">
						<h3 class="h5">Meta</h3>
						<fieldset>
							<div class="mb-3">
								<label class="form-label" for="meta_title"
									>Title</label
								>
								<input
									class="form-control"
									type="text"
									name="meta_title"
									id="meta_title"
									ng-model="$ctrl.product.meta.title"
								/>
							</div>
							<div class="mb-3">
								<label class="form-label" for="meta-description"
									>Meta Description</label
								>
								<textarea
									class="form-control"
									type="text"
									id="meta-description"
									ng-model="$ctrl.product.meta.description"
								></textarea>
							</div>
						</fieldset>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
	</form>
</layout-component>
