@import "~bootstrap/scss/bootstrap";

body:not(.vf-signed-in) .show-vf-signed-in,
body.vf-signed-in .hide-vf-signed-in,
body:not(.vf-group-admin) .show-vf-group-admin,
body.vf-group-admin .hide-vf-group-admin {
	display: none;
}

/* Hide items that are truly punchout ONLY, not mixed punchout. */
body:not(.is-punchout) .show-is-punchout {
	display: none;
}

body:not(.is-mixed-punchout).is-punchout .hide-is-punchout {
	display: none;
}

.product-rating .bi-star,
.product-rating .bi-star-half,
.product-rating .bi-star-fill {
	color: var(--yellow, "#ffc107");
}

.account-menu .dropdown-menu {
	min-width: 25ch;
}

.popover {
	--bs-popover-body-padding-x: 0;
	--bs-popover-body-padding-y: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.wp-block-post-content a.btn {
	color: var(--bs-btn-color);
}
