<layout-component>
	<div class="d-flex justify-content-center py-5" ng-if="$ctrl.isLoading">
		<div class="spinner-border" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<div
		itemtype="http://schema.org/Product"
		itemscope
		ng-if="$ctrl.product && !$ctrl.isLoading"
	>
		<!-- Metadata -->
		<meta itemprop="name" content="{{ $ctrl.product.description }}" />
		<div itemprop="brand" itemtype="http://schema.org/Thing" itemscope>
			<meta itemprop="name" content="{{ $ctrl.product.brand_name }}" />
		</div>
		<meta
			itemprop="description"
			content="{{ $ctrl.product.long_description }}"
		/>
		<meta itemprop="sku" content="{{ $ctrl.product.sku }}" />
		<link itemprop="image" href="{{ $ctrl.schemaImg }}" />
		<div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
			<link itemprop="url" ng-href="{{ $ctrl.productUrl }}" />
			<meta
				ng-if="$ctrl.product.status !== 'backordered'"
				itemprop="availability"
				content="https://schema.org/InStock"
			/>
			<meta
				ng-if="
					$ctrl.product.status === 'backordered' ||
					$ctrl.product.available_qty === 0
				"
				itemprop="availability"
				content="https://schema.org/OutOfStock"
			/>
			<meta itemprop="priceCurrency" content="USD" />
			<meta itemprop="price" content="{{ $ctrl.product.price }}" />
		</div>
		<div
			itemprop="aggregateRating"
			itemtype="http://schema.org/AggregateRating"
			itemscope
			ng-if="$ctrl.reviewCount"
		>
			<meta
				itemprop="reviewCount"
				ng-attr-content="{{ $ctrl.reviewCount }}"
			/>
			<meta
				itemprop="ratingValue"
				ng-attr-content="{{ $ctrl.product.average_rating }}"
			/>
		</div>
		<!-- /Metadata -->

		<div>
			<!-- Breadcrumbs -->
			<product-detail-breadcrumb
				breadcrumb="$ctrl.breadcrumb"
			></product-detail-breadcrumb>

			<!-- Product Summary -->
			<section class="my-4">
				<!-- Display some product info above photo on mobile. -->
				<div class="d-md-none text-break">
					<!-- wp:heading {"level":1} -->
					<h1 id="product-title">
						{{ $ctrl.product.description }}
					</h1>
					<p class="small">
						<strong>SKU: </strong>{{ $ctrl.product.sku }}
					</p>
					<!-- /wp:heading -->
					<div class="row align-items-center">
						<div class="col">
							<p class="mb-1" ng-if="$ctrl.brandName">
								by
								<a ng-href="{{ $ctrl.brandLink }}">{{
									$ctrl.brandName
								}}</a>
							</p>
							<product-rating
								ng-if="$ctrl.product.average_rating > 0"
								rating="$ctrl.product.average_rating"
							>
							</product-rating>
						</div>
						<div class="col text-end">
							<span class="product-price h4 fw-bold">{{
								$ctrl.product.price | currency
							}}</span>
							<span
								class="product-uom text-nowrap"
								ng-if="$ctrl.product.uom"
							>
								<span ng-if="!$ctrl.product.uomqty">
									/ {{ $ctrl.product.uom }}</span
								>
								<span
									ng-if="
										$ctrl.product.uomqty &&
										!$ctrl.product.uomdesc
									"
								>
									/
									{{ $ctrl.product.uomqty | number }}
								</span>
								<span
									ng-if="
										$ctrl.product.uomqty &&
										$ctrl.product.uomdesc
									"
									>&nbsp; {{ $ctrl.product.uomqty | number
									}}<span ng-if="$ctrl.product.uomdesc">
										/ {{ $ctrl.product.uomdesc }}</span
									>
								</span>
							</span>
						</div>
					</div>
					<div
						class="alert alert-warning has-text-align-center"
						role="alert"
						ng-if="
							$ctrl.product.available_qty <= 10 ||
							$ctrl.product.available_qty === 0 ||
							$ctrl.product.status === 'backordered' ||
							$ctrl.product.status === 'discontinued'
						"
					>
						<i class="bi bi-exclamation-circle"></i>
						<span
							ng-if="
								$ctrl.product.status === 'active' &&
								$ctrl.product.available_qty <= 10 &&
								$ctrl.product.available_qty > 0
							"
						>
							Low in stock. Order soon!
						</span>
						<span
							ng-if="
								$ctrl.product.status === 'active' &&
								$ctrl.product.available_qty === 0
							"
						>
							Out of stock. Please
							<a
								class="alert-link"
								ng-href="{{ $ctrl.pageUrls.contact }}"
								>contact us</a
							>
							for expected availability or substitution.
						</span>
						<span ng-if="$ctrl.product.status === 'backordered'">
							Item backordered. Please
							<a
								class="alert-link"
								ng-href="{{ $ctrl.pageUrls.contact }}"
								>contact us</a
							>
							for expected availability or substitution.
						</span>
						<span ng-if="$ctrl.product.status === 'discontinued'">
							Item discontinued. Please
							<a
								class="alert-link"
								ng-href="{{ $ctrl.pageUrls.contact }}"
								>contact us</a
							>
							for help finding a substitution.
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<product-detail-images
							images="$ctrl.product.images"
							description="$ctrl.product.description"
						>
						</product-detail-images>
					</div>
					<div class="col-md-7">
						<div class="d-none d-md-block text-break">
							<!-- Display some product info aside photo on desktop. -->
							<!-- wp:heading {"level":1} -->
							<h1 id="product-title">
								{{ $ctrl.product.description }}
							</h1>
							<p class="small">
								<strong>SKU: </strong>{{ $ctrl.product.sku }}
							</p>
							<!-- /wp:heading -->
							<div class="row align-items-center mb-3">
								<div
									class="col-auto"
									ng-if="
										$ctrl.brandName ||
										$ctrl.product.average_rating > 0
									"
								>
									<p class="mb-1" ng-if="$ctrl.brandName">
										by
										<a ng-href="{{ $ctrl.brandLink }}">
											{{ $ctrl.brandName }}
										</a>
									</p>
									<product-rating
										ng-if="$ctrl.product.average_rating > 0"
										rating="$ctrl.product.average_rating"
									>
									</product-rating>
								</div>
								<div class="col">
									<div
										class="alert alert-warning mb-0"
										role="alert"
										ng-if="
											$ctrl.product.available_qty <= 10 ||
											$ctrl.product.available_qty === 0 ||
											$ctrl.product.status ===
												'backordered' ||
											$ctrl.product.status ===
												'discontinued'
										"
									>
										<i class="bi bi-exclamation-circle"></i>
										<span
											ng-if="
												$ctrl.product.status ===
													'active' &&
												$ctrl.product.available_qty <=
													10 &&
												$ctrl.product.available_qty > 0
											"
										>
											Low in stock. Order soon!
										</span>
										<span
											ng-if="
												$ctrl.product.status ===
													'active' &&
												$ctrl.product.available_qty ===
													0
											"
										>
											Item is currently out of stock.
											Please
											<a
												class="alert-link"
												ng-href="{{
													$ctrl.pageUrls.contact
												}}"
												>contact us</a
											>
											for expected availability or
											substitution.
										</span>
										<span
											ng-if="
												$ctrl.product.status ===
												'backordered'
											"
										>
											This item is backordered. Please
											<a
												class="alert-link"
												ng-href="{{
													$ctrl.pageUrls.contact
												}}"
												>contact us</a
											>
											for expected availability or
											substitution.
										</span>
										<span
											ng-if="
												$ctrl.product.status ===
												'discontinued'
											"
										>
											This item is discontinued. Please
											<a
												class="alert-link"
												ng-href="{{
													$ctrl.pageUrls.contact
												}}"
												>contact us</a
											>
											for assistance with finding a
											substitution.
										</span>
									</div>
								</div>
							</div>
						</div>

						<div id="add-to-cart">
							<div ng-if="!addingItem">
								<form name="$ctrl.addToCartForm" novalidate>
									<div class="row">
										<div
											class="col-auto d-none d-md-block align-self-center"
										>
											<p>
												<span
													class="product-price h4 fw-bold"
													>{{
														$ctrl.product.price
															| currency
													}}</span
												>
												<span
													class="product-uom"
													ng-if="$ctrl.product.uom"
												>
													<span
														ng-if="
															!$ctrl.product
																.uomqty
														"
													>
														/
														{{
															$ctrl.product.uom
														}}</span
													>
													<span
														ng-if="
															$ctrl.product
																.uomqty &&
															!$ctrl.product
																.uomdesc
														"
													>
														/
														{{
															$ctrl.product.uomqty
																| number
														}}
													</span>
													<span
														ng-if="
															$ctrl.product
																.uomqty &&
															$ctrl.product
																.uomdesc
														"
														>&nbsp;
														{{
															$ctrl.product.uomqty
																| number
														}}<span
															ng-if="
																$ctrl.product
																	.uomdesc
															"
														>
															/
															{{
																$ctrl.product
																	.uomdesc
															}}</span
														>
													</span>
												</span>
											</p>
										</div>
										<div class="col">
											<div class="mb-3">
												<label
													for="addQty"
													class="form-label"
													>Quantity</label
												>
												<input
													class="form-control"
													id="addQty"
													name="addQty"
													type="number"
													min="0"
													ng-max="$ctrl.product.available_qty || 1000"
													ng-attr-max="{{
														$ctrl.product
															.available_qty ||
															1000
													}}"
													step="1"
													required
													ng-disabled="$ctrl.product.available_qty < 1"
													ng-model="$ctrl.addQty"
													ng-keydown="$ctrl.onKeydown( $event )"
												/>
												<div class="form-text">
													<span
														ng-if="
															$ctrl.product
																.available_qty >
															10
														"
													>
														{{
															$ctrl.product
																.available_qty
																| number
														}}
														in stock.
													</span>
													<span
														class="text-danger"
														ng-if="$ctrl.hasMaxQty"
													>
														Only
														{{
															$ctrl.product
																.available_qty ||
																1000 | number
														}}
														available per order.
													</span>
												</div>
											</div>
										</div>
									</div>

									<div class="row align-items-center">
										<div class="col-md-6">
											<button
												id="addToCart"
												class="btn btn-primary w-100 my-3"
												ng-if="
													$ctrl.product.status !=
														'backordered' &&
													$ctrl.product.status !=
														'discontinued' &&
													$ctrl.product
														.available_qty != 0
												"
												ng-click="$ctrl.addToCart($ctrl.product, $event)"
												ng-disabled="$ctrl.addToCartForm.$invalid ||
														$ctrl.product.available_qty == 0 ||
														$ctrl.product.status === 'backordered' ||
														( !$ctrl.isSignedIn && $ctrl.hasDisabledGuests )"
												data-loading-text="Grabbing... <span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>"
											>
												<span
													ng-show="
														$ctrl.product
															.cart_qty === 0 &&
														$ctrl.product
															.available_qty != 0
													"
													>Add To Cart
													<i
														class="bi bi-cart-plus"
													></i
												></span>
												<span
													ng-show="
														$ctrl.product.cart_qty >
															0 &&
														$ctrl.product
															.available_qty != 0
													"
													>Add More To Cart</span
												>
											</button>
											<p
												class="has-text-align-center mb-md-0"
											>
												<span
													ng-if="
														$ctrl.product.status ===
														'backordered'
													"
												>
													This item is backordered.
												</span>
												<span
													ng-if="
														$ctrl.product.status ===
														'discontinued'
													"
												>
													This item is discontinued.
												</span>
												<span
													ng-if="
														$ctrl.product.status !=
															'backordered' &&
														$ctrl.product.status !=
															'discontinued' &&
														$ctrl.product
															.available_qty === 0
													"
												>
													Out of Stock
												</span>
											</p>
										</div>
										<div class="col-md-6">
											<product-detail-favorite-button
												product="$ctrl.product"
											></product-detail-favorite-button>
										</div>
									</div>

									<div
										class="alert alert-info"
										role="alert"
										ng-if="
											!$ctrl.isSignedIn &&
											$ctrl.hasDisabledGuests
										"
									>
										Please
										<a
											class="alert-link"
											ng-href="{{ $ctrl.pageUrls.login }}"
											>Sign In</a
										>
										or
										<a
											class="alert-link"
											ng-href="{{
												$ctrl.pageUrls.register
											}}"
											>Create an Account</a
										>
										to view this page.
									</div>
								</form>
							</div>
							<div ng-if="addingItem">
								Adding, please wait
								<span
									class="spinner-border spinner-border-sm"
									role="status"
									aria-hidden="true"
								></span>
							</div>
						</div>

						<div
							class="alert alert-warning"
							ng-if="$ctrl.product.additional_shipping"
						>
							This item is subject to additional shipping charges.
						</div>

						<div
							class="alert alert-success"
							ng-if="$ctrl.product.pcrc"
						>
							<i
								class="bi bi-recycle text-success"
								aria-hidden="true"
							></i>
							{{ $ctrl.product.pcrc.percentage }}% post consumer
							recycled content.
						</div>

						<product-detail-alternate-list
							products="$ctrl.product.alternates"
							ng-if="$ctrl.product.alternates.length > 0"
						>
						</product-detail-alternate-list>

						<div
							class="row py-3"
							ng-if="$ctrl.product.long_description.length >= 1"
						>
							<div class="col">
								<h2 class="d-lg-none">Description</h2>
								<div
									class="product-long-desc"
									ng-bind-html="$ctrl.product.long_description"
								></div>
							</div>
						</div>

						<div
							id="product-prop65"
							class="alert alert-warning"
							role="alert"
							ng-if="$ctrl.product.prop65"
						>
							<em>California residents:</em><br />
							<img
								loading="lazy"
								style="width: 1rem"
								ng-src="{{ $ctrl.warningIcon }}"
								height="16"
								width="16"
								alt="Proposition 65 Warning"
								ng-attr-title="{{ $ctrl.prop65Warning }}"
							/>
							<strong>
								<a
									rel="noreferrer"
									href="https://www.p65warnings.ca.gov/"
									target="_blank"
									style="color: black"
									>WARNING:</a
								>
							</strong>
							<span ng-bind-html="$ctrl.prop65Warning"></span>
						</div>
					</div>
				</div>
			</section>

			<product-related
				products="$ctrl.product.related"
				ng-if="
					$ctrl.product.related.length &&
					$ctrl.settings.showRelatedAboveSpecs
				"
			>
			</product-related>

			<nav class="mb-3" ng-if="$ctrl.documents.length">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a
						class="nav-link active"
						id="nav-specs-tab"
						data-bs-toggle="tab"
						href="#nav-specs"
						role="tab"
						aria-controls="nav-specs"
						aria-selected="true"
					>
						Specifications
					</a>
					<a
						class="nav-link"
						id="nav-docs-tab"
						data-bs-toggle="tab"
						href="#nav-docs"
						role="tab"
						aria-controls="nav-docs"
						aria-selected="false"
					>
						Documents
					</a>
				</div>
			</nav>

			<h2 ng-if="!$ctrl.documents.length">Specifications</h2>
			<div class="tab-content" id="nav-tabContent">
				<div
					class="tab-pane fade show active"
					id="nav-specs"
					role="tabpanel"
					aria-labelledby="nav-specs-tab"
				>
					<product-detail-specs
						product="$ctrl.product"
						breadcrumb="$ctrl.breadcrumb"
					>
					</product-detail-specs>
				</div>
				<div
					class="tab-pane fade"
					id="nav-docs"
					role="tabpanel"
					aria-labelledby="nav-docs-tab"
					ng-if="$ctrl.documents.length"
				>
					<product-documents documents="$ctrl.documents">
					</product-documents>
				</div>
			</div>

			<!-- Related Products below Specifications -->
			<product-related
				products="$ctrl.product.related"
				ng-if="
					$ctrl.product.related.length &&
					!$ctrl.settings.showRelatedAboveSpecs
				"
			>
			</product-related>

			<!-- Product Reviews -->
			<product-detail-reviews
				average-rating="$ctrl.product.average_rating"
				get-review-total="$ctrl.getReviewTotal( total )"
				product-id="$ctrl.productId"
				ng-if="$ctrl.settings.showReviews"
			>
			</product-detail-reviews>
		</div>
	</div>
</layout-component>
