<layout-component heading="Rates" breadcrumbs="$ctrl.breadcrumbs">
	<uib-tabset active="activeTab">
		<uib-tab index="0" select="TabChanged(0)" heading="Rates">
			<spinner-component ng-if="loading"></spinner-component>

			<div ng-if="!loading">
				<bs-search-box-legacy
					q="searchParams.q"
					on-submit="SearchShippingFlatRates(1, query)"
					is-loading="loadingMore">
				</bs-search-box-legacy>

				<table class="table table-sm">
					<thead>
						<tr>
							<th ng-click="SortIndex('id')">ID</th>
							<th ng-click="SortIndex('name')">Name</th>
							<th ng-click="SortIndex('enabled')">Enabled</th>
							<th ng-click="SortIndex('name')">Label</th>
							<th ng-click="SortIndex('amount')">Amount</th>
							<th ng-click="SortIndex('free_if_total')">Free shipping for min. order</th>
						</tr>
					</thead>
					<tbody>
						<spinner-component ng-if="loadingMore"></spinner-component>

						<tr class="text-center" ng-if="flatRates.data.length <= 0 && !loadingMore">
							<td colspan="6">
								No results found<span ng-if="searchTerm.length >= 1"> matching
										'{{searchTerm}}'</span>.
								</td>
						</tr>
						<tr class="cursor-pointer" ng-if="!loadingMore"
							ng-repeat="rate in flatRates.data track by $index">
							<td>{{ rate.id }}</td>
							<td>
								<strong>
									<a href="#" ng-click="ChangeTab( 2, $index, $event )">
										{{ rate.name }}
									</a>
								</strong>
							</td>
							<td class="text-capitalize">{{ rate.enabled }}</td>
							<td>{{ rate.label }}</td>
							<td>{{ rate.amount | currency }}</td>
							<td class="text-capitalize">{{ rate.free_if_total }}</td>
						</tr>
					</tbody>
				</table>
				<div class="row  mb-3">
					<div class="col-sm-4">
						<span>Showing {{flatRates.from || 0}} to {{flatRates.to || 0}} of {{flatRates.total ||
							0}} entries<span>
					</div>
					<div class="col-sm-4 text-center mt-2">
						<button class="btn btn-outline-primary" ng-if="flatRates.prev_page_url"
							ng-click="SearchShippingFlatRates(flatRates.current_page - 1)">&lsaquo; Prev</button>
						<button class="btn btn-outline-primary" ng-if="flatRates.current_page - 2 > 0"
							ng-click="SearchShippingFlatRates(flatRates.current_page - 2)">{{flatRates.current_page
							- 2}}</button>
						<button class="btn btn-outline-primary" ng-if="flatRates.current_page - 1 > 0"
							ng-click="SearchShippingFlatRates(flatRates.current_page - 1)">{{flatRates.current_page
							- 1}}</button>
						<button class="btn btn-outline-primary"
							ng-disabled="true">{{flatRates.current_page}}</button>
						<button class="btn btn-outline-primary"
							ng-if="flatRates.current_page + 1 <= flatRates.last_page"
							ng-click="SearchShippingFlatRates(flatRates.current_page + 1)">{{flatRates.current_page
							+ 1}}</button>
						<button class="btn btn-outline-primary"
							ng-if="flatRates.current_page + 2 <= flatRates.last_page"
							ng-click="SearchShippingFlatRates(flatRates.current_page + 2)">{{flatRates.current_page
							+ 2}}</button>
						<button class="btn btn-outline-primary" ng-if="flatRates.next_page_url"
							ng-click="SearchShippingFlatRates(flatRates.current_page + 1)">Next &rsaquo;</button>
					</div>
					<div class="col-sm-4  justify-content-end">
						<label for="rpp">Per Page: </label>
						<select class="form-select" id="rpp"
							ng-model="searchParams.rpp" ng-change="SearchShippingFlatRates(1)"
							ng-options="value for value in rppValues">
						</select>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" select="TabChanged(1)" heading="Add new">
			<spinner-component ng-if="loading"></spinner-component>

			<div ng-if="!loading">
				<div class="row">
					<div class="col-lg-4">
						<form name="addFlatRate">
							<div class="mb-3">
								<label for="name" class="form-label">Name</label>
								<input id="name" class="form-control" ng-class="{'is-invalid': addFlatRate.name.$invalid}"
									type="text" name="name" ng-model="createFlatRate.name" required>
							</div>
							<div class="mb-3">
								<label class="form-label">Label</label>
								<input class="form-control" ng-class="{'is-invalid': addFlatRate.label.$invalid}"
									type="text" name="label" ng-model="createFlatRate.label">
							</div>
							<div class="mb-3">
								<label class="form-label">Amount</label>
								<input class="form-control" ng-class="{'is-invalid': addFlatRate.amount.$invalid}"
									format="currency" type="text" name="amount"
									ng-model="createFlatRate.amount"
									ng-pattern="/(?=.*[0-9])^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$/" required>
							</div>
							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" id="free_if_total" ng-model="createFlatRate.free_if_total">
								<label class="form-check-label" for="free_if_total">
									Enable free shipping for minimum order amount
								</label>
							</div>
							<div class="mb-3" ng-if="createFlatRate.free_if_total">
								<label for="free_order_total" class="form-label">Minimum order amount for free shipping</label>
								<div class="input-group">
									<span class="input-group-text">$</span>
									<input type="number" class="form-control" id="free_order_total" step="0.01" ng-model="createFlatRate.free_order_total" min="0">
								</div>
							</div>
							<div class="border-top pt-3 mt-3 mb-3">
								<h2 class="h5">Conditions</h2>
								<div class="list-group mb-3"
									ng-if="createFlatRate.modifiers.length">
									<div class="list-group-item"
										ng-repeat="modifier in createFlatRate.modifiers track by $index">
										<div class="hstack align-items-baseline">
											<h3 class="h6 text-muted">Condition {{ $index + 1 }}</h3>
											<button class="btn btn-sm btn-outline-danger border-0 ms-auto" type="button"
											ng-click="updateModifiers(createFlatRate, 1, $index)">Remove</button>
										</div>
										<div class="mb-3">
											<label class="form-label" ng-attr-for="modifier-amount-{{ $index }}">Amount</label>
											<div class="input-group">
												<span class="input-group-text">$</span>
												<input ng-attr-id="modifier-amount-{{ $index }}"
													ng-class="['form-control', {'is-invalid': addFlatRate['amount'+$index].$invalid}]"
													name="amount{{$index}}" type="number" min="0" step="0.01"
													ng-model="createFlatRate.modifiers[$index].amount">
											</div>
										</div>
										<div class="mb-3">
											<div class="form-label">
												If the order total is in the range of:
											</div>
											<div class="hstack align-items-baseline">
												<div class="input-group">
													<span class="input-group-text">$</span>
													<input
														ng-class="['form-control', {'is-invalid': addFlatRate['min'+$index].$invalid}]"
														 name="min{{$index}}"
														ng-model="createFlatRate.modifiers[$index].order_total_min"
														type="number" min="0" step="0.01" />

												</div>
												<span class="mx-2">to</span>
												<div class="input-group">
													<span class="input-group-text">$</span>
													<input
														ng-class="['form-control', {'is-invalid': addFlatRate['max'+$index].$invalid}]"
														name="max{{$index}}]"
														ng-model="createFlatRate.modifiers[$index].order_total_max"
														type="number" min="0" step="0.01"/>
												</div>

											</div>
										</div>

									</div>
								</div>
								<button class="btn btn-outline-primary" type="button"
									ng-click="updateModifiers(createFlatRate, 0)">
									Add new condition
								</button>
							</div>
							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" name="enabled" ng-true-value="true"
									ng-false-value="0" ng-model="createFlatRate.enabled"
									ng-init="createFlatRate.enabled = 0">
								<label class="form-check-label">Enabled</label>
							</div>
							<div ng-if="!updating">
								<button class="btn btn-primary"
									ng-click="CreateFlatRate()"
									ng-disabled="addFlatRate.$invalid">
									Save
								</button>
							</div>

							<div class="d-flex align-items-center"
								ng-if="updating">
								<strong>Creating rate, please wait...</strong>
							</div>
						</form>
					</div>
					<div class="col-lg-8"></div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="2" select="TabChanged(2)" ng-hide="!selectedFlatRate" heading="Edit  rate">
			<spinner-component ng-if="loading"></spinner-component>

			<div ng-if="!loading">
				<div class="row">
					<div class="col-lg-4">
						<form name="viewFlatRate">
							<fieldset ng-disabled="updating || deleting">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<input class="form-control" ng-class="{'is-invalid': viewFlatRate.name.$invalid}"
										type="text" name="name" ng-model="selectedFlatRate.name"
										required>
								</div>
								<div class="mb-3">
									<label class="form-label">Label</label>
									<input class="form-control" ng-class="{'is-invalid': viewFlatRate.label.$invalid}"
										type="text" name="label" ng-model="selectedFlatRate.label">
								</div>
								<div class="mb-3">
									<label class="form-label">Amount</label>
									<input class="form-control" ng-class="{'is-invalid': viewFlatRate.amount.$invalid}"
										format="currency" name="amount"  ng-model="selectedFlatRate.amount"
										ng-pattern="/(?=.*[0-9])^\$?(([0-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$/" required>
								</div>
								<div class="form-check mb-3">
									<input class="form-check-input" type="checkbox" id="free_if_total" ng-model="selectedFlatRate.free_if_total">
									<label class="form-check-label" for="free_if_total">
										Enable free shipping for minimum order amount
									</label>
								</div>
								<div class="mb-3" ng-if="selectedFlatRate.free_if_total">
									<label for="free_order_total" class="form-label">Minimum order amount for free shipping</label>
									<div class="input-group">
										<span class="input-group-text">$</span>
										<input type="number" class="form-control" id="free_order_total" step="0.01" ng-model="selectedFlatRate.free_order_total" min="0">
									</div>
								</div>
								<div class="border-top pt-3 mt-3 mb-3">
									<h2 class="h5">Conditions</h2>
									<div class="list-group mb-3"
									ng-if="selectedFlatRate.modifiers.length">
										<div class="list-group-item"
											ng-repeat="modifier in selectedFlatRate.modifiers track by $index">
											<div class="hstack align-items-baseline">
												<h3 class="h6 text-muted">Condition {{ $index + 1 }}</h3>
												<button class="btn btn-sm btn-outline-danger border-0 ms-auto" type="button"
												ng-click="updateModifiers(selectedFlatRate, 1, $index)">Remove</button>
											</div>
											<div class="mb-3">
												<label class="form-label" ng-attr-for="modifier-amount-{{ $index }}">Amount</label>
												<div class="input-group">
													<span class="input-group-text">$</span>
													<input ng-attr-id="modifier-amount-{{ $index }}"
														ng-class="['form-control', {'is-invalid': viewFlatRate['amount'+$index].$invalid}]"
														name="amount{{$index}}" type="number" min="0" step="0.01"
														ng-model="selectedFlatRate.modifiers[$index].amount">
												</div>
											</div>
											<div class="mb-3">
												<div class="form-label">
													If the order total is in the range of:
												</div>
												<div class="hstack align-items-baseline">
													<div class="input-group">
														<span class="input-group-text">$</span>
														<input
															ng-class="['form-control', {'is-invalid': viewFlatRate['min'+$index].$invalid}]"
															name="min{{$index}}"
															ng-model="selectedFlatRate.modifiers[$index].order_total_min"
															type="number" min="0" step="0.01" />

													</div>
													<span class="mx-2">to</span>
													<div class="input-group">
														<span class="input-group-text">$</span>
														<input
															ng-class="['form-control', {'is-invalid': viewFlatRate['max'+$index].$invalid}]"
															name="max{{$index}}]"
															ng-model="selectedFlatRate.modifiers[$index].order_total_max"
															type="number" min="0" step="0.01"/>
													</div>

												</div>
											</div>

										</div>
									</div>
									<button class="btn btn-outline-primary" type="button"
										ng-click="updateModifiers(selectedFlatRate, 0)">
										Add new condition
									</button>
								</div>
								<div class="form-check mb-3">
									<input class="form-check-input" type="checkbox" name="enabled" ng-true-value="true"
										ng-false-value="0" ng-model="selectedFlatRate.enabled">
									<label class="form-check-label">Enabled</label>
								</div>
								<div>
									<button class="btn btn-primary" ng-click="UpdateFlatRate()"
										ng-disabled="viewFlatRate.$invalid">
										Update
									</button>
									<button type="button" class="btn btn-outline-danger border-0" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
										Delete
									</button>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="col-lg-8">
						<p ng-if="$ctrl.isNotApplied()">This rate is not currently applied to any customers, groups or price sheets. It will not be available during the checkout process until applied to at least one of either.</p>
						<uib-tabset>
							<uib-tab index="0" heading="Customers">
								<table class="table">
									<caption ng-if="!selectedFlatRate.customers.length">
										This rate is not currently being applied to any customers.
									</caption>
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Name</th>
											<th scope="col">Status</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-class="{
												'table-success': item.action === 'add',
												'table-danger': item.action === 'remove'
											}"
											ng-repeat="item in selectedFlatRate.customers track by $index">
											<td>{{ item.customer_id }}</td>
											<th scope="row"><a ng-href="?page=vendorfuel#!/customers/accounts/{{ item.customer_id }}">
												{{ item.name }}
											</a></th>
											<td><span class="badge bg-secondary text-capitalize">
												{{ item.status }}
											</span>
										</td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-primary"
									ng-click="OpenCustomerSearchModal()">Select
									customers</button>
							</uib-tab>
							<uib-tab index="1" heading="Groups">
								<table class="table">
									<caption ng-if="!selectedFlatRate.groups.length">
										This rate is not currently being applied to any groups.
									</caption>
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Name</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-class="{
												'table-success': item.action === 'add',
												'table-danger': item.action === 'remove'
											}"
											ng-repeat="item in selectedFlatRate.groups track by $index">
											<td>{{ item.group_id }}</td>
											<th scope="row"><a ng-href="?page=vendorfuel#!/customers/groups/{{ item.group_id }}">
												{{ item.name }}
											</a></th>
										</td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-primary"
									ng-click="OpenGroupSearchModal()">
									Select groups
								</button>
							</uib-tab>
							<uib-tab index="2" heading="Price sheets">
								<table class="table">
									<caption ng-if="!selectedFlatRate.pricesheets.length">
										This rate is not currently being applied to any price sheets.
									</caption>
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Name</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-class="{
												'table-success': sheet.action === 'add',
												'table-danger': sheet.action === 'remove'
											}"
											ng-repeat="sheet in selectedFlatRate.pricesheets track by $index">
											<td>{{ sheet.price_sheet_id }}</td>
											<th scope="row"><a ng-href="?page=vendorfuel#!/catalog/pricesheets/{{ sheet.price_sheet_id }}">
												{{sheet.sheet || sheet.name }}
											</a></th>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-primary"
									ng-click="OpenPriceSheetSearchModal()">
									Select price sheets
								</button>
							</uib-tab>
							<uib-tab index="3" heading="Restricted items">
								<table class="table">
									<caption ng-if="!selectedFlatRate.restricted_items.length">
										This rate does not currently have any free shipping items.
									</caption>
									<thead>
										<tr>
											<th scope="col">ID</th>
											<th scope="col">Name</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-class="{
												'table-success': item.action === 'add',
												'table-danger': item.action === 'remove'
											}"
											ng-repeat="item in selectedFlatRate.restricted_items track by $index">
											<td>{{ item.product_id }}</td>
											<th scope="row"><a ng-href="?page=vendorfuel#!/catalog/products/{{ item.product_id }}">
												{{ item.description }}
											</a></th>
										</td>
										</tr>
									</tbody>
								</table>
								<button class="btn btn-primary"
									ng-click="OpenProductSearchModal()">
									Select products
								</button>
							</uib-tab>
						</uib-tabset>

					</div>
				</div>
			</div>
		</uib-tab>
	</uib-tabset>
</layout-component>

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Delete rate?</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			This will delete this rate. Are you sure?
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-danger" ng-click="$ctrl.deleteFlatRate()" data-bs-dismiss="modal">Delete</button>
		</div>
	  </div>
	</div>
  </div>
