<div>
	<div class="input-group input-group-sm">
		<span class="input-group-text">
			<i class="bi bi-filter"></i>
		</span>
		<input
			class="form-control"
			type="search"
			placeholder="Filter attributes..."
			ng-model="$ctrl.attributesQuery"
		/>
		<button
			ng-if="$ctrl.attributesQuery.length > 0"
			class="btn btn-outline-secondary"
			title="Reset"
			ng-click="$ctrl.attributesQuery = ''"
		>
			<i class="bi bi-arrow-counterclockwise"></i>
		</button>
	</div>
	<div
		class="alert alert-warning mb-0 mt-3 small"
		ng-show="$ctrl.attributes && results.length === 0"
	>
		Sorry, no attributes match your filter query.
	</div>
</div>
<ul class="list-group list-group-flush mb-1">
	<li
		class="list-group-item p-0"
		ng-repeat="attribute in $ctrl.attributes | filter:$ctrl.attributesQuery as results track by $index"
	>
		<catalog-attributes-list-item
			attribute="attribute"
			is-in-progress="$ctrl.isInProgress"
		>
		</catalog-attributes-list-item>
	</li>
</ul>
